body {
  font-family: "Lexend", sans-serif;
  font-family: "Lexend Deca", sans-serif;
}

.Hero {
  background-image: url("./fruits_veggies_1152X866.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Hero-header {
  background-color: #282c34;
  padding: 0 2em;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Hero-header a {
  color: white;
}

.Hero-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.Left-hero,
.Right-hero {
  max-width: 50%;
  width: 50%;
}

header a {
  text-decoration: none;
}

.Left-hero {
  background-color: rgba(250, 255, 95, 0.6);
}

.Right-hero a {
  text-decoration: none;
  padding: 25px;
  background-color: seagreen;
  color: white;
}
